<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/sergeykupriyanov/IdeaProjects/Otus/Homework/Homework/testlink-tests/src/test/java/tests">
        <classes>
            <class name="tests.CreateTestSuiteWithTwoTestCases">
                <methods>
                    <include name="createTestSuiteWithTwoTestCases"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>